pages:
  stage: deploy
  script:
    - mkdir public
    - Copy-Item -Path ".\*" -Destination "public\" -Recurse -Exclude "public"
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
